/************************* CSS FOR HEADER ************************/
.header {
    background-color: white;
    width: 100%;
    position: fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    right:0;
    height:100px;
    border-bottom:solid;
    border-bottom-color: black;
    border-bottom-width: thin;
    display:block;
}

.headerText {
    font-family: 'Courier', sans-serif;
    font-size:35px;
    position: relative;
    text-align:left;
    top:10px;
    bottom: 20px;
    left:75px;
}
/****************** END OF CSS FOR HEADER **********************/

/************************* CSS FOR FOOTER ************************/

.footer {
    background-color: white;
    width: 100%;
    position: fixed;
    padding:0;
    margin:0;
    bottom:0;
    left:0;
    right:0;
    height:100px;
    border-top:solid;
    border-top-color: black;
    border-top-width: thin;
}

.footerText {
    font-family: 'Courier', sans-serif;
    font-size:15px;
    position: relative;
    text-align:center;
    top:10px;
    bottom: 20px;
    left:75px;
}

/****************** END OF CSS FOR FOOTER **********************/

.landingPage {
    display:block;
}